@import "@/styles/_variables";

.header {
	background-image: url("https://images.pexels.com/photos/14178741/pexels-photo-14178741.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #dae4ed;
	padding: 10rem;
	margin-bottom: 4rem;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.2);
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8979166666666667) -10%, rgba(255, 255, 255, 0) 60%);
		z-index: 0;
	}

	nav.navigation {
		position: relative;
		z-index: 1;
		display: flex;
		gap: 1rem;
		margin-bottom: 1rem;
		a {
			background-color: $primary-color;
			padding: 0.5rem 1rem;
			font-size: 1.4rem;
			border-radius: 2rem;
			color: #fff;
			&:hover {
				background-color: $hover-clr;
				padding: 5px 10px;
				border-radius: 20px;
			}
		}
	}
}
