@import "@/styles/variables";

.profile {
	display: flex;
	gap: 2rem;
	margin-top: 8rem;
}

.card {
	flex: 1;
	background-color: $white-clr;
	border-radius: 5px;
	position: relative;

	&::before {
		content: "User";
		height: 4rem;
		line-height: 4rem;
		padding: 0 2rem;
		font-size: 1.8rem;
		letter-spacing: 1.3px;

		position: absolute;
		top: -4rem;
		left: 0;
		background-color: $white-clr;
		color: $grey-clr;
	}
}

.followers-card {
	&::before {
		content: "Followers";
	}
}

.user {
	padding: 3rem;
	header {
		display: flex;
		gap: 1.5rem;
		align-items: center;
		margin-bottom: 2rem;

		img {
			width: 9rem;
			height: 9rem;
			border-radius: 50%;
			object-fit: cover;
		}

		div {
			margin-right: auto;

			h4 {
				font-size: 2rem;
				letter-spacing: 1.2px;
			}

			p {
				color: $grey-clr;
			}
		}

		.follow-link {
			color: $primary-clr;
			padding: 5px 1.5rem;
			border: 1px solid $primary-clr;
			border-radius: 100px;

			font-size: 1.6rem;
			text-transform: capitalize;

			&:hover {
				background-color: $primary-clr;
				color: $text-light-clr;
			}
		}
	}

	.bio {
		margin-bottom: 3rem;
	}

	.user-info {
		p,
		a {
			font-size: 1.6rem;
			color: $grey-clr;

			svg {
				margin-right: 8px;
			}
		}
	}
}

.followers {
	display: flex;
	flex-direction: column;
	height: 280px;
	overflow-y: scroll;
	padding: 3rem;
	overscroll-behavior: contain;

	article {
		display: flex;
		margin-bottom: 1rem;

		img {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			margin-right: 1.5rem;
		}

		.followers-info {
			width: 100%;
			overflow-x: hidden;

			h4 {
				font-size: 1.8rem;
				letter-spacing: 1.2px;
				margin-bottom: 2px;
			}
			a {
				font-size: 1.6rem;
				color: $grey-clr;
			}
		}
	}
}

@media (max-width: 900px) {
	.profile {
		flex-direction: column;
	}

	.card {
		margin-bottom: 4rem;
	}
}
