@import "@/styles/_variables";

.header {
	background-color: #ea5455;
	color: #fff;
	font-size: 1.5rem;

	section {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.rate {
		font-weight: normal;
		opacity: 0.5;
	}

	.star_github_btn {
		background-color: #efefef;
		padding: 5px 10px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: all 0.1s;

		&:hover {
			transform: scale(1.1);
			svg {
				fill: $primary-color;
			}
		}
	}
}
