.nonfollowers__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	grid-gap: 2rem;
	gap: 2rem;
	margin-top: 5rem;

	& > div {
		background-color: #161b22;
		padding: 10px;
		border-radius: 10px;
		height: 400px;
		overflow-y: auto;
	}
}

.box {
	display: flex;
}

.avatar__url {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.section_container {
	margin-top: 5rem;
	h1,
	p {
		color: #fff;
		text-align: center;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		line-height: 2.6rem;
	}
	h1 {
		font-size: 2.8rem;
		margin-bottom: 1rem;
	}
}
