@import "@/styles/variables";

.card {
	flex: 1;
	background-color: #19376d;
	border-radius: 20px;
	position: relative;
	color: #fff;
}

.user {
	padding: 3rem;
	header {
		display: flex;
		gap: 1.5rem;
		align-items: center;
		margin-bottom: 2rem;

		img {
			width: 9rem;
			height: 9rem;
			border-radius: 50%;
			object-fit: cover;
		}

		div {
			margin-right: auto;

			h4 {
				font-size: 2rem;
				letter-spacing: 1.2px;
			}

			p {
				font-size: 1.4rem;
				color: #fff;
			}
		}
	}

	.bio {
		margin-bottom: 3rem;
	}

	.follow-link {
		background: #d9d9d9;
		border-radius: 75px;
		padding: 10px 30px;
		color: #000;
	}

	.user-info {
		p,
		a {
			font-size: 1.6rem;
			color: rgba(255, 255, 255, 0.815);
			margin-bottom: 10px;

			svg {
				margin-right: 8px;
			}
		}
	}
}

@media (max-width: 900px) {
	.card {
		margin-bottom: 4rem;
	}
}
