.chart {
    max-width: 100%;
    display: grid;
    grid-template-columns: minmax(30%, 1fr) minmax(60%, 1fr) ;
    row-gap: 4rem;
    column-gap: 2rem;
    
}

@media (max-width: 900px) {
    .chart {
        grid-template-columns: minmax(30%, 1fr);
    }
}
