$primary-color: #2caeba;
$bg-color: #0d1117;
$bg_color_2: #161b22;

$white-clr: #fff;
$black-clr: #000;

$grey-clr: #617d98;
$grey-clr2: #888;

$hover-clr: #88ebf2;

$text-light-clr: #fff;
$text-dark-clr: #000;
