@import "./reset";

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 4rem;
}

/*=============== 
Spinner
================*/

// .spinner-container {
// 	position: relative;
// }

// @keyframes spinner {
// 	to {
// 		transform: rotate(360deg);
// 	}
// }

// .loading {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50% -50%);
// 	width: 12rem;
// 	height: 12rem;
// 	margin: 0 auto;
// 	// margin-top: 10rem;
// 	border-radius: 50%;
// 	border: 3px solid #ccc;
// 	border-top-color: $primary-color;
// 	animation: spinner 0.6s linear infinite;
// }

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $white-clr;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $grey-clr2;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media (max-width: 768px) {
	html {
		font-size: 56.25%;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 50%;
	}

	.container {
		padding: 0 2rem;
	}

	.container__inner {
		margin-top: 2rem;
	}
}

section {
	padding-left: 2rem;
	padding-right: 2rem;
}
