@import "@/styles/_variables";

.search {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;

	input {
		background-color: $bg-color;
		border-radius: 20px;
		padding: 10px 20px;
		padding-left: 30px;
		width: 250px;
		height: 40px;
		outline: 0;
		transition: all 0.3s;
		color: rgba(255, 255, 255, 0.8);

		&:focus {
			box-shadow: inset 0px 0px 0px 2px #19a7ce;
		}
	}
	svg {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translate(-50%, -50%);

		fill: #fff;
		opacity: 0.5;
		width: 2rem;
		height: 1.5rem;
	}
}
