.no-data {
	padding: 1rem;
	background-color: #fef3c7;
	color: #b45309;
	font-size: 1.5rem;
	line-height: 1.5rem;
	border-radius: 10px;
}

.searchable {
	display: flex;
	margin-bottom: 1rem;
	column-gap: 0.5rem;
	margin-top: 5rem;

	input {
		padding: 1.8rem 1.8rem;
		font-size: 1.2rem;
		line-height: 1.25rem;
		width: 100%;
		border-radius: 10px;
		border-width: 1px;
		border-color: #d1d5db;
		outline: 0;
	}

	button {
		height: 100%;
		padding: 1.8rem 1.8rem;
		color: #000000;
		font-size: 1.4rem;
		line-height: 1.25rem;
		white-space: nowrap;
		border-radius: 10px;
		border-color: #ffffff;
		cursor: pointer;
		background-color: #fff;
	}
}

.table__container {
	width: 100%;
	border-radius: 0.25rem;
	border-width: 1px;
	font-size: 1.4rem;
	margin-top: 2rem;
	color: #fff;
	table {
		width: 100%;
		border-collapse: collapse;
	}

	th {
		margin: 5px;
		padding: 1rem;
		background-color: #343f50;
		color: #fff;
		line-height: 1.25rem;
		font-weight: 600;
		text-align: left;
		border-bottom-width: 1px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-right: 10px;
		border: 1px solid #000000;

		div {
			width: 100%;
			display: inline-flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 0.5rem;
		}
	}
	tbody {
		tr {
			background-color: transparent;
			transition: all 0.05s;
			&:hover {
				background-color: #343f50;
			}

			&:last-child {
				td {
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}
			}

			td {
				padding: 1rem;
				line-height: 2rem;
				border: 1px solid #343f50;
				div {
					display: flex;
					column-gap: 0.625rem;
				}

				a {
					color: #fff;
				}
			}
		}
	}
}
