@import "@/styles/_variables";

.stats-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap: 2rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

.stats__card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 132px;
	border-radius: 20px;
	padding: 1.5rem;
	background-color: $bg_color_blue;

	.stats__inner {
		display: flex;
		align-items: flex-start;
		justify-items: center;
	}

	.icon {
		padding: 10px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 5rem;
			height: 5rem;
			color: #fff;
		}
	}

	.info {
		width: 100%;
		text-align: center;
		color: #fff;

		h3 {
			font-style: normal;
			font-weight: 700;
			font-size: 64px;
			line-height: 90.02%;
		}
	}
}

@media (max-width: 900px) {
	.stats-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
