.section__footer {
	background-color: #000;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.footer__logo {
		width: 300px;

		p {
			color: hsla(0, 0%, 100%, 0.5);
			line-height: 140%;
		}
	}

	.section__right {
		.open__source {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		a {
			display: flex;
			flex-direction: column;
			color: #fff;

			img {
				width: 24px;
			}
		}

		a {
		}

		& > div {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}
}
